<h1><%= @password.url %> </h1>
<%= link_to "Edit", edit_password_path %> 

<h6 class="">Username / Email</h6>
<pre>
<code class="mt-0"><%= @password.username %></code>
</pre>
<h6 class ="">Password</h6>
<pre>
<code class="mt-0"><%= @password.password %></code>
</pre>